.details {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin: 7em 7em 0;

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2em;
    padding: 15px;
  }

  &__text{
    max-width: 1000px;
  }

  &__title {
    padding-left: 15px;
    font-size: 2.3em;
  }

  &__plot {
    padding: 15px;
    font-size: 1.3em;
    line-height: 1.4em ;
  }

}

.back {
  padding-right: 15px;

}