.details {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin: 7em 7em 0;

  &__text {
    max-width: 1000px;
  }

  &__title {
    padding-left: 15px;
    font-size: 2.3em;
  }

  &__plot {
    padding: 15px;
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2em;
    padding: 15px;
  }
}

.back {
  padding-right: 15px;
}

@media (max-width: 767px) {
  .details {
    flex-direction: column;
    margin: 3em 1.5em;
    align-items: center;

    &__text {
      max-width: initial;
    }

    &__title {
      padding: 0 15px;
      font-size: 1.8em;
    }

    &__plot {
      padding: 0 15px;
      font-size: 1em;
      line-height: 1.2em;
    }
  }
}